/* Flex layout */
.container {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

/* Blog post */

.my-blog {
  position: relative;
  margin-top: 10%;
  align-self: flex-start;
  width: fit-content;
  height: fit-content;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.blog-container {
  width: 70%;
  height: fit-content;
  background: transparent;
  padding: 20px;
  color: #fff;
}
.blog-container h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 500;
}
.blog-container h2 {
  font-weight: 500;
}
.blog-container a {
  border-left: 8px solid rgb(112, 145, 255);
  padding: 10px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  background: rgb(0, 60, 255);
  font-size: 36px;
}
.blog-container p {
  font-size: 20px;
}
.blog-container .blog-links {
  width: fit-content;
}
.blog-container .blog-links a {
  text-decoration: none;
  color: #fff;
  background: rgb(0, 60, 255);
  transition: all 300ms ease-in-out;
  padding: 10px 24px;
  border-radius: 5px;
  font-size: 18px;
  border-left: none;
  display: inline-block;
  margin-top: 7px;
}
.blog-container .blog-links a:hover {
  color: rgb(0, 60, 255);
  background: #fff;
}

/* Footer */

.footer {
  position: relative;
  margin-top: 10%;
  align-self: flex-end;
}
.footer p {
  margin-bottom: 10px;
}
